<div class = "new">
  <% if @cocktail.errors.any? %>
  <h2>HOUSTON We a problem.</h2>
  <ul>

    <% @cocktail.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>

  <% end %>

  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
