<div class="container">
  <div class="row">

    <h1>Cocktails</h1>
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
    <div class="wrapper">
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 100, width: 200, crop: :fill %>');">

        <div class="card-category">
          <%= cocktail.name %>
        <div class="text">
          <ul class= "list-unstyled">
          <% cocktail.doses.each do |doses| %>
          <li><%= doses.description %> of <%= doses.ingredient.name %></li>
          <% end %>
          </ul>
          </div>
            </div>
          </div>
      <% end %>
</div>
      </div>
         <% end %>
    </div>
  </div>

